@charset "UTF-8";

#container {
	/* border: 1px solid black; */
	width: 60%;
	margin: 0 auto;
	
	margin-bottom: 20px;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container > h3 {
	width: 100%;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 20px;
	margin-top: 20px;
}

.login-form {
  text-align: center;
}

.username-group, .password-group {
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #C8C8C8;
	border-radius: 5px;
}

.username-group > .form-control, .password-group > .form-control {
	border: 0;
	width: 100%;
}

.username-group i, .password-group i {
  margin: 0 10px 0 20px; /* 아이콘과 입력란 사이의 간격 조절 */
}

.sub-option {
	display: flex;
	align-items: center;
	margin: 0 auto;
	font-size: small;
	width: 100%;
	
}

.auto-login {
	width: 40%;
	text-align: left;
	color: #787878;
	> input {
		border-color: #787878;
	}
}

.find-auth {
	width: 60%;
	text-align: right;
	text-decoration: none;
	color: #787878;
	border: 0;
}

#loginBtn {
	margin-top:20px;
	background-color: #A40033;
	width: 100%;
	color: white;
}

.social {
    text-align: center; /* 요소들을 가운데 정렬합니다. */
    margin-top: 20px;
    margin-bottom: 20px;
}

.social p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social-label {
    position: relative;
    padding: 0 10px; /* 선과 레이블 사이의 간격을 조절합니다. */
    color: #787878;
    font-size:small;
}

.social-line {
    width: 50%; /* 선의 길이를 조절합니다. */
    height: 1px; /* 선의 높이를 조절합니다. */
    background-color: #787878; /* 선의 색상을 지정합니다. */
    position: absolute;
    top: 50%; /* 선을 레이블의 중앙에 위치시킵니다. */
}

.social-line:first-child {
    right: 100%; /* 첫 번째 선을 레이블 왼쪽에 배치합니다. */
    margin-right: 10px; /* 오른쪽 여백을 추가하여 레이블과의 간격을 조절합니다. */
}

.social-line:last-child {
    left: 100%; /* 두 번째 선을 레이블 오른쪽에 배치합니다. */
    margin-left: 10px; /* 왼쪽 여백을 추가하여 레이블과의 간격을 조절합니다. */
}



