@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
}

#content {
	height : auto;
  	min-height: 100%;
  	padding-top: 180px;
  	padding-bottom: 150px;
}

#container {
	width: 60%;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}

title {
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.title > h3 {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}