@charset "UTF-8";

div.paging {
	width: 100%;
	display: inline-flex;
	align-items: center;
	margin-top: 20px;
	justify-content: center;
}
div.paging>i,
div.paging>div.pages {
	margin: 0 10px;
}

div.paging>i,
div.paging>div.pages>span {
	margin: 0 3px;
	cursor: pointer;
}
span.active {
	color: #A40033;
	font-weight: bold;
}