@charset "UTF-8";

.theaterOuterWrap {
	width: 100%;
	height: calc(100% - 20px);
	display: flex;
	overflow-y: scroll;
}

.theater-left-content {
	width: fit-content;
	height: 100%;
	padding: 0 10px 10px 10px;
	align-items: center;
}

.theater-left-content > a {
	text-decoration: none;
	margin-left: 10px;
}

.theater-left-content > p {
	margin: 20px 10px 10px;
	font-size: 1.3em;
	font-weight: bold;
	text-overflow: clip;
}

.theater-left-content > img {
	box-sizing: border-box;
}

@media (min-width: 100px) {
	.theater-left-content > img {
        display: none;
    }
}
@media (min-width: 700px) {
	.theater-left-content > img {
		display: initial;
        width: 80%;
        float: left;
    }
}

@media (min-width: 1000px) {
    .theater-left-content > img {
    	display: initial;
        width: 100%;
        float: left;
    }
}

.theater-right-content {
	width: 80%;
	justify-content: center;
	text-align: center;
}

.theater-right-content > p {
	font-size: 1.1em;
	font-weight: 500;
	> span {
		margin-left: 10px;
		color: #1D9BF7;
	}
}